/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.10.2016, 18:30:55
    Author     : Igorgro
*/




.mcard{
    overflow: hidden;
    border-radius: 2px;
    box-shadow:0px 1px 3px rgb(160, 160, 160);
    background-color: white;
    display: inline-block;
    transition: box-shadow 0.2s ease-in-out 0s;
}
.mcard>p{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 10pt;
}
.mcard>h3,.mcard>h2{
    margin-bottom:0px;
    margin-top: 22px;
    margin-left:16px;
    margin-right: 16px; 
}
.mcard>img{
    position: relative;
    width: 100%;
}


.button{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 26px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: var(--primary-color);
    box-shadow:0px 1px 3px rgb(160, 160, 160);
    border-radius: 2px;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

.button:hover{
    background-color: var(--hover-color);
}

.button:active{
    box-shadow: rgb(160, 160, 160) 2px 5px 4.5px;
}

.button>p{
    height: 2px;
    margin: 0px;
    position: inherit;
    color: white;
}

.flatbutton{
    margin: 0px;
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 26px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 2px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out 0s;
}

.flatbutton>p{
    color:var(--primary-color);
}
.flatbutton:hover{
    background-color: #DDDDDD;
}
.flatbutton>.ripple{
    background-color: #CCCCCC;
}
.flatbutton:disabled>p{
    color: #B0B0B0;
}
.flatbutton>p{
    height: 2px;
    margin: 0px;
    position: inherit;
}

.buttons-container {
    position: relative;
    padding: 8px;
    border-top: solid 0.5px #D2D2D2;
    
}
.buttons-container>.flatbutton{
    float: right;
    margin-bottom: 8px;
}



.ripple{
    border-radius: 100%;
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    visibility: hidden;
    background-color: var(--ripple-color);
    z-index: 0;
    opacity: 1;
    overflow: hidden;
}

.ripple.ripple-active{
    border-radius: 100%;
    animation: rippleAnim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}



@-webkit-keyframes rippleAnim{
    0%{
        visibility: visible;
        opacity: 1;
        border-radius:100%;
        transform: scale(0.1);
    }

    100%{
        visibility: hidden;
        opacity: 0;
        border-radius: 100%;
        transform: scale(20);
    }
}


.checkbox,.radio{
    visibility: hidden;
}




/* Checkbox */

.checkbox+label,.radio+label{
    color: #6D6D6D;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 12px;
    position: relative;
}

.checkbox+label:before{
    position: absolute;
    top: 1px;
    left: -30px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    content: '';
    border: solid;
    border-color: #6D6D6D;
    border-width: 2px;
    background-size: 16px 16px;
    background-clip: border-box;
    background-position-x: -2px;
    background-position-y: -2px;
    z-index: 2;
    transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s;
}

.checkbox:checked+label:before{
    border-color: var(--accent-color);
    border-width: 2px;
    background-color: var(--accent-color);
    background-image: url(ic_check_white_24dp.png);
    background-size: 16px 16px;
    background-clip: border-box;
    background-position-x: -2px;
    background-position-y: -2px;
}

.checkbox:disabled+label:before{
    border-color: #B0B0B0;
}

.checkbox:disabled:checked+label:before{
    border-color: #B0B0B0;
    background-color: #B0B0B0;
}



/*Ripple for checkbox */

.checkbox+label:after,.radio+label:after{
    position: absolute;
    top: 4px;
    left: -27px;
    content: '';
    transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
    width: 10px;
    height: 10px;
    transform: scale(0.2);
    border-radius: 1000px;
    background-color: #434343;
    opacity: 0;
    z-index: 3;

}

.checkbox+label:hover:after,.radio+label:hover:after{
    opacity: 0.105;
    transform: scale(4);
}
.checkbox:checked+label:hover:after,.radio:checked+label:hover:after{
    visibility: visible;
    background-color: var(--accent-color);
}

.checkbox:checked+label:after,.radio:checked+label:after{
    background-color: var(--accent-color);
}

.checkbox:disabled+label:hover:after,.radio:disabled+label:hover:after{
    visibility: visible;
    background-color: #434343;
}

.checkbox:not(checked)+label:hover:after,.radio:not(checked)+label:hover:after{
    visibility: visible;
    background-color: #434343;
}

@-webkit-keyframes ripple-checkbox{
    0%{
        border-radius:100%;
        transform: scale(0.1);
    }

    100%{
        border-radius: 100%;
        transform: scale(4);
    }
}

/*Radio button*/
.radio+label:before{
    position: absolute;
    top: 1px;
    left: -30px;
    width: 8px;
    height: 8px;
    content: '';
    border: solid;
    border-radius:100px;
    border-color: #6D6D6D;
    border-width: 2px;
    padding: 2px;
    background-size: 16px 16px;
    background-clip: content-box;
    background-position-x: 2px;
    background-position-y: 2px;
    background-origin: content-box;
    z-index: 2;
    transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s;
}

.radio:checked+label:before{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.radio:disabled+label:before{
    border-color: #B0B0B0;
}

.radio:disabled:checked+label:before{
    border-color: #B0B0B0;
    background-color: #B0B0B0;
}




/*Floating Action Button */
.FloatingActionButton{
    position: fixed;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 36px;
    background-color: var(--accent-color);
    box-shadow:rgb(160, 160, 160) 1px 3px 3.5px;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out 0s, transform 0.5s ease-in-out 0s, visibility 0s ease-in-out 0.5s, bottom 0.5s linear 0s, right 0.5s linear 0s, background-color 0.2s linear 0s;
    padding: 20px;
    z-index: 1002;
}


.FloatingActionButton:active{
    
    box-shadow: rgb(130, 130, 130) 3px 5px 5px;
}

.FloatingActionButton>.ripple{
    border-radius:100%;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    visibility: hidden;
    background-color: var(--accent-ripple-color);
    z-index: 0;
    top:calc(50% - 5px);
    left:calc(50% - 5px);
    opacity: 1;

}







/* Slider input */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    /* Specific width is required for Firefox. */
    background: transparent;
    outline: none;

}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    top:-5px;
    position: relative;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgb(160, 160, 160); 

}

input[type=range]::-webkit-slider-thumb:active{
    background-color: var(--active-color);
}

input[type=range]::-webkit-slider-runnable-track {
    height:0px;
    border-bottom: solid 3px #8F8F8F;
}

input[type=range]::-webkit-slider-thumb::before{
    content: 'lol';
    width: 100px;
    height:100px;
    color: black;
    position: relative;
}





/* Textfield */
.mtextfield{
    height: auto;
    width: 100%;
    position: relative;
    padding-bottom: 8px;   

    transition: border-bottom-color 0.2s ease-in-out 0s;
    border-bottom: solid 1px;
    border-bottom-color: #C8C8C8;
    outline: none;
    font-family: Roboto;
    z-index: 3;

}

.mtextfield:focus{
    border:none;
    border-bottom: solid 2px;
    border-bottom-color: var(--accent-color);
}

.mtextfield::before{
    z-index: 3;
    content:attr(label) " ";
    color:#B2B4B6;
    transition: top 0.2s ease-in-out 0s, font-size 0.2s ease-in-out 0s;
    position:absolute;
    top:-16px;
    font-size:8pt;
    cursor: default;
}

.mtextfield:focus::before{
    top:-16px;
    font-size:8pt;
    color: var(--accent-color);
    cursor: default;
}  

.mtextfield:empty::before{
    top:0px;
    font-size:12pt;
    cursor: text;  
}

.mtextfield:empty:focus::before{
    top:-16px;
    font-size:8pt;
    color: var(--accent-color);
    cursor: default;
}



/* Toolbar */
.toolbar{
    background-color: var(--primary-color);
    position:fixed;
    width:calc(100% + 2px);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    height: 64px;
    max-height: 70px;
    top:0px;
    left:-2px;
    overflow: hidden;
    z-index:999;
}
.toolbar>h3{
    position: relative;
    top:0px;
    margin: 0px;
    top:20px;
    left:22px;
    color:white;
}


/* Menu */
.menu{
    position: absolute;
    box-shadow:0px 1px 3px rgb(160, 160, 160);
    background-color: #FCFCFC;
    border-radius: 2px; 
    display: inline-block;

    transform-origin: top left;
    animation-name: corner-increasing;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    z-index: 1000;
}

.menu-item{
    position: relative;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left:24px;
    padding-right:24px;
    font-family: Roboto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.menu-item:hover{
    background-color: #E5E5E5;
}

/* Horizontal line for menu */
.divider{
    height: 0px;
    border-top: solid 0.5px #D2D2D2;
    border-bottom: none;
    border-left: none;
    border-right: none;
    position: relative;
    width: 100%;
}

@-webkit-keyframes corner-increasing{
    0%{
        transform: scale(0.1);
    }

    100%{
        transform: scale(1);
    }

}


/* Backdrop */
.backdrop{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    z-index: 1001;
    transition: background-color 0.5s, linear, 0s;
}


/* Snackbar */
.snackbar{
    background-color: #333333;
    padding-right: 24px;
    height: 48px;
    border-radius: 2px;
    position: fixed;
    display: inline-block;
    transition: bottom 0.2s ease-in-out 0s;
}
.snackbar>p{
    margin: 0px;
    margin-top: 14px;
    margin-left: 24px;
    margin-right: 48px;
    font-size: 11pt;
    color: white;
}


.linear-layout-hor{
    position: absolute;
    display: inline-block;
}
.linear-layout-hor>.mcard{
    position: relative;
}



.button > p{
    color:white;
}
i{
    color: white;
    cursor: default;
    position: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


p,label, a{
    cursor: default;
    z-index: 1;
    font-family: Roboto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1,h2,h3,h4,h5,h6{
    cursor: default;
    z-index: 1;
    font-family: Roboto-Light;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

br{
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@font-face{
    font-family: Roboto-Light;
    src: url(Roboto-Light.ttf);
}

@font-face{
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb{
    width: 3px;
    background-color: var(--primary-color);
    border-color: black;
}








