/* 
    Created on : 18.10.2016, 18:30:55
    Author     : Igorgro
*/
body{
    display: inline-block;
    position: absolute;
    background-color: #EEEEEE;
    cursor: default;
}

.mcard{
    overflow: hidden;
    border-radius: 2px;
    box-shadow:0px 1px 3px rgb(160, 160, 160);
    background-color: white;
    display: inline-block;
    transition: box-shadow 0.2s ease-in-out 0s;
}
.mcard>p{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 10pt;
}
.mcard>h3,.mcard>h2{
    margin-bottom:0px;
    margin-top: 22px;
    margin-left:16px;
    margin-right: 16px; 
}
.mcard>img{
    position: relative;
    width: 100%;
}


.button{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 26px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: var(--primary-color);
    box-shadow:0px 1px 3px rgb(160, 160, 160);
    border-radius: 2px;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out 0s, background-color 0.2s linear 0s;
}

.button:hover{
    background-color: var(--hover-color);
}

.button:active{
    box-shadow: rgb(160, 160, 160) 2px 5px 4.5px;
}

.button:not(.ripple-effect):active{
    background-color: var(--ripple-color);
}

.button>p{
    height: 2px;
    margin: 0px;
    position: inherit;
    color: white;
    z-index: 1;
}

.flatbutton{
    margin: 0px;
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 26px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 2px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out 0s;
}

.flatbutton>p{
    color:var(--primary-color);
    z-index: 1;
}
.flatbutton:hover{
    background-color: #DDDDDD;
}
.flatbutton>.ripple-container>.ripple{
    background-color: #CCCCCC;
}
.flatbutton:not(.ripple-effect):active{
    background-color: #CCCCCC;
}

.flatbutton:disabled>p{
    color: #B0B0B0;
}
.flatbutton>p{
    height: 2px;
    margin: 0px;
    position: inherit;
}

.buttons-container {
    position: relative;
    padding: 8px;
    border-top: solid 0.5px #D2D2D2;
    float: bottom;
}
.buttons-container>.flatbutton{
    float: right;
    margin-bottom: 8px;
}

.ripple-container{
    border-radius: 2px;
    position: absolute;
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.ripple{
    border-radius: 100%;
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    visibility: hidden;
    background-color: var(--ripple-color);
    opacity: 1;
    overflow: hidden;
    cursor: default;
}

.ripple.ripple-active{
    border-radius: 100%;
    animation: rippleAnim;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}



@-webkit-keyframes rippleAnim{
    0%{
        visibility: visible;
        opacity: 1;
        border-radius:100%;
        transform: scale(0.05);
    }

    100%{
        visibility: hidden;
        opacity: 0;
        border-radius: 100%;
        transform: scale(30);
    }
}


.checkbox, .radio, .switch{
    visibility: hidden;
}




/* Checkbox */

.checkbox+label,.radio+label{
    color: #6D6D6D;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 12px;
    position: relative;
}

.checkbox+label:before{
    position: absolute;
    top: 1px;
    left: -30px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    content: '';
    border: solid;
    border-color: #6D6D6D;
    border-width: 2px;
    background-size: 16px 16px;
    background-clip: border-box;
    background-position-x: -2px;
    background-position-y: -2px;
    transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s;
}

.checkbox:checked+label:before{
    border-color: var(--accent-color);
    border-width: 2px;
    background-color: var(--accent-color);
    background-image: url(ic_check_white_24dp.png);
    background-size: 16px 16px;
    background-clip: border-box;
    background-position-x: -2px;
    background-position-y: -2px;
}

.checkbox:disabled+label:before{
    border-color: #B0B0B0;
}

.checkbox:disabled:checked+label:before{
    border-color: #B0B0B0;
    background-color: #B0B0B0;
}



/*Ripple for checkbox */

.checkbox+label:after,.radio+label:after{
    position: absolute;
    top: 4px;
    left: -27px;
    content: '';
    transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
    width: 10px;
    height: 10px;
    transform: scale(0.2);
    border-radius: 1000px;
    background-color: #434343;
    opacity: 0;
    z-index: 3;

}

.checkbox+label:hover:after,.radio+label:hover:after{
    opacity: 0.105;
    transform: scale(4);
}
.checkbox:checked+label:hover:after,.radio:checked+label:hover:after{
    visibility: visible;
    background-color: var(--accent-color);
}

.checkbox:checked+label:after,.radio:checked+label:after{
    background-color: var(--accent-color);
}

.checkbox:disabled+label:hover:after,.radio:disabled+label:hover:after{
    visibility: visible;
    background-color: #434343;
}

.checkbox:not(checked)+label:hover:after,.radio:not(checked)+label:hover:after{
    visibility: visible;
    background-color: #434343;
}

@keyframes ripple-checkbox{
    0%{
        border-radius:100%;
        transform: scale(0.1);
    }

    100%{
        border-radius: 100%;
        transform: scale(4);
    }
}

/*Radio button*/
.radio+label:before{
    position: absolute;
    top: 1px;
    left: -30px;
    width: 8px;
    height: 8px;
    content: '';
    border: solid;
    border-radius:100px;
    border-color: #6D6D6D;
    border-width: 2px;
    padding: 2px;
    background-size: 16px 16px;
    background-clip: content-box;
    background-position-x: 2px;
    background-position-y: 2px;
    background-origin: content-box;
    transition: background 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s;
}

.radio:checked+label:before{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.radio:disabled+label:before{
    border-color: #B0B0B0;
}

.radio:disabled:checked+label:before{
    border-color: #B0B0B0;
    background-color: #B0B0B0;
}


/* Material switch */
.switch+label{
    color: #6D6D6D;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 24px;
    position: relative;
}

.switch+label:before{
    content: '';
    position: absolute;
    left:-48px;
    top: 2px;
    width:36px;
    height:14px;
    background-color: #000000;
    opacity: 0.38;
    border-radius: 100px;
    transition: background-color 0.2s linear 0s, opacity 0.2s linear 0s;
}

.switch+label:after{
    content: '';
    position: absolute;
    left:-48px;
    top: -1px;
    width:20px;
    height:20px;
    box-shadow:rgb(140, 140, 140) 0px 1px 5px;
    background-color: #FAFAFA;
    opacity: 1;
    border-radius: 100px;
    transition: background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, left 0.2s ease-in-out 0s;
}


.switch:checked+label:before{
    background-color: var(--primary-color);
    opacity: 0.54117646813;
}

.switch:checked+label:after{
    background-color: var(--primary-color);
    opacity: 1;
    left: -32px;
    box-shadow:rgb(120, 120, 120) 0px 1px 6px;
}

.switch:disabled+label:before, .switch:checked:disabled+label:before{
    background-color: #000000;
    opacity: 0.108;
}
.switch:disabled+label:after{
    background-color: #BDBDBD;
    opacity: 1;
    left: -48px;
    box-shadow:rgb(140, 140, 140) 0px 1px 5px;
}

.switch:checked:disabled+label:after{
    background-color: #BDBDBD;
    opacity: 1;
    left: -32px;
    box-shadow:rgb(140, 140, 140) 0px 1px 5px;
}



/*Floating Action Button */
.FloatingActionButton{
    position: fixed;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 36px;
    background-color: var(--accent-color);
    box-shadow:rgb(160, 160, 160) 1px 3px 4px;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out 0s, transform 0.5s ease-in-out 0s, visibility 0s ease-in-out 0.5s, bottom 0.5s linear 0s, right 0.5s linear 0s, background-color 0.2s linear 0s;
    padding: 16px;
    z-index: 999;
    right:30px;
    bottom: 30px;
}

.FloatingActionButton:hover{
    /*background-color: var(--accent-hover-color);*/
}

.FloatingActionButton:active{
    box-shadow: rgb(130, 130, 130) 3px 5px 5px;
}

.FloatingActionButton>.ripple-container>.ripple{
    background-color: var(--accent-ripple-color);
}

.FloatingActionButton:not(.ripple-effect):active{
    background-color: var(--accent-ripple-color);
}
.FloatingActionButton>.ripple-container{
    border-radius: 36px;
}




/* Slider input */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    /* Specific width is required for Firefox. */
    background: transparent;
    outline: none;

}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    top:-5px;
    position: relative;
	top:-5.5px;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgb(160, 160, 160); 
    transition: background-color 0.2s linear 0s;
}

input[type=range]::-webkit-slider-thumb:active{
    background-color: var(--ripple-color);
    z-index: 1;
}

input[type=range]::-webkit-slider-runnable-track {
    height:0px;
    border-bottom: solid 3px #8F8F8F;
}

.slider{
    height: 30px;
}
.slider>input[type=range]{
    width: 100%;
}

.slider-helper{
    background-color: var(--primary-color);
    position: absolute;
    top: 11.0px;
    left:2px;
    height: 3.4px;
}

/* Element< that shows the value of the slider */
.blob{
    position: absolute; 
    width:26px;
    height: 26px;
    border-radius: 20px;
    background-color: var(--primary-color);
    z-index: 998;
    transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
}
.blob:after{
    content: '';
    position: absolute;
    width: 0;
	height: 0;
    top: 21.3px;
    left: 3px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 12px solid;
    border-top-color: var(--primary-color);
    border-radius:3px;
    z-index:997;
    
}
.blob>p{
    position: absolute;
    font-size:8pt;
    top: 6px;
    color: white;
    margin: 0px;
    z-index: 998;
}

/* Textfield */
.mtextfield{
    height: auto;
    width: 100%;
    position: relative;
    padding-bottom: 8px;   
    cursor: text;
    transition: border-bottom-color 0.2s ease-in-out 0s;
    border-bottom: solid 1px;
    border-bottom-color: #C8C8C8;
    outline: none;
    font-family: Roboto;
}

.mtextfield:focus{
    border:none;
    border-bottom: solid 1px;
    border-bottom-color: #C8C8C8;
    /*border-bottom: solid 2px;
    border-bottom-color: var(--accent-color);*/ 
}

.mtextfield::before{
    content:attr(label) " ";
    color:#B2B4B6;
    transition: top 0.2s ease-in-out 0s, font-size 0.2s ease-in-out 0s;
    position:absolute;
    top:-16px;
    font-size:8pt;
    cursor: default;
}

.mtextfield:focus::before{
    top:-16px;
    font-size:8pt;
    color: var(--accent-color);
    cursor: default;
}  

.mtextfield:empty::before{
    top:0px;
    font-size:12pt;
    cursor: text;  
}

.mtextfield:empty:focus::before{
    top:-16px;
    font-size:8pt;
    color: var(--accent-color);
    cursor: default;
}

.mtextfield::after{
    content: '';
    position: absolute;
    bottom:-1.5px;
    height:2px;
    opacity: 0;
    width: 1px;
    left: 50%;
    background-color: var(--accent-color);
}
/* Don't try to understand this code :) */
.mtextfield:not(:focus):after{
    transition: left 0s ease-in-out 0.2s, width 0s ease-in-out 0.2s, opacity 0.2s ease-in-out 0s;
}

.mtextfield:focus::after{
    transition: left 0.2s ease-in-out 0s, width 0.2s ease-in-out 0s;
    opacity: 1;
    left: 0%;
    width: 100%;
    background-color: var(--accent-color);
}

/* Toolbar */
.toolbar{
    background-color: var(--primary-color);
    position:fixed;
    width:calc(100% + 3px);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    height: 64px;
    top:0px;
    left:0px;
    overflow: hidden;
    z-index:999;
    display: inline-block;
}

.toolbar-button{
    position: relative;
    margin-top: 8px;
    margin-right: 0px;
    margin-left: 8px;
    height:48px;
    width:48px;
    float: left;
    border-radius: 2px;
    background-color: var(--primary-color);
    cursor: pointer;
}
.toolbar-button>i{
    margin-top: 12px;
    margin-left: 12px;
    cursor: pointer;
}


.toolbar.with-tabs{
    height: 112px;
        
}
.toolbar>h3{
    float: left;
    position: relative;
    top:0px;
    margin: 0px;
    margin-left: 22px;
    top: 20px;
    color: white;
}

/* Main menu */
.nav-drawer{
    display: inline-block;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    background-color: #FFFFFF;
    z-index:1002;
    
    transition: left 0.2s linear 0s;
}
.nav-drawer>img{
    position: relative;
    width: 100%;
}
.nav-drawer>.divider{
    margin-top: 0px;
    margin-bottom: 0px;
}
.nav-drawer>p{
    margin-left: 18px;
    margin-top: 12px;
    font-size: 10.5pt;
    color:#989898;
    font-family: RobotoMedium;
}


/* Main menu item */
.nav-drawer-item{
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 48px;
    margin: 0px;
    margin-top: -4px;
    transition: background-color 0.2s linear 0s;

}
.nav-drawer-item>p{
    position: relative;
    top: 0px;
    margin: 0px;
    margin-top: 15px;
    margin-left: 30px;
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 11pt;
    z-index: 1;
}
.nav-drawer-item>i{
    float: left;
    display: inline-block;
    margin: 0px;
    margin-top: 12px;
    margin-left: 16px;
    color: #737373;
    z-index: 1;
}
.nav-drawer-item>.ripple-container>.ripple{
    background-color: #CCCCCC;
}
.nav-drawer-item:not(.ripple-effect):active{
    background-color: #CCCCCC;
}
.nav-drawer-item:hover{
    background-color: #DDDDDD;
}
.nav-drawer-item.selected{
    background-color: #DDDDDD;
}
.nav-drawer-item.selected>i{
   color: var(--primary-color);
}
.nav-drawer-item.selected>p{
   color: var(--primary-color);
}

.avatar{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: white;
    z-index: 1;
    border-radius: 100px;
}
.avatar>img{
    width: 100%;
    height: 100%;
}



.tabs-container{
    /*background-color: black;*/
    position: absolute;
    right: 0px;
    left: 0px;
    height: 48px;
    max-height: 48px;
    bottom: -0px;
    float: bottom;
    display: inline-block;
    white-space: nowrap;


}


.tab{
    white-space:nowrap;
    margin: 0px;
    height: 48px;
    top:-0px;
    display: inline-block;
    position: relative;
    left: 4px;
    margin-left: -4px;
    overflow: hidden;
    transition: background-color 0.2s linear 0s;
}
.tab>p{
    font-weight: normal;
    font-size: 11pt;
    color: white;
    position: relative;
    margin-right:0px;
    margin-left: 0px;
    display: inherit;
    z-index: 2;
}

.tabs-helper{
    height: 0px;
    border:1px solid;
    border-left: none;
    border-right: none;
    border-color: var(--accent-color);
    position: absolute;
    bottom:0px;
    transition: left 0.2s linear 0s, width 0.2s linear 0s;
}
.tab:hover{
    background-color: var(--hover-color);
}
.tab:not(.ripple-effect):active{
    background-color: var(--ripple-color);

}


/* Menu */
.menu{
    position: absolute;
    box-shadow:0px 1px 3px rgb(160, 160, 160);
    background-color: #FCFCFC;
    border-radius: 2px; 
    display: inline-block;

    transform-origin: top left;
    animation-name: corner-increasing;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    z-index: 1000;
}

.menu-item{
    position: relative;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left:24px;
    padding-right:24px;
    font-family: Roboto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.menu-item:hover{
    background-color: #E5E5E5;
}

/* Horizontal line for menu */
.divider{
    height: 0px;
    border-top: solid 0.5px #D2D2D2;
    border-bottom: none;
    border-left: none;
    border-right: none;
    position: relative;
    width: 100%;
}

@keyframes corner-increasing{
    0%{
        transform: scale(0.1);
    }

    100%{
        transform: scale(1);
    }

}


/* Backdrop */
.backdrop{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    z-index: 1001;
    transition: background-color 0.2s linear 0s, visibility 0.2s linear 0s;
}


/* Snackbar */
.snackbar{
    background-color: #333333;
    padding-right: 24px;
    height: 48px;
    border-radius: 2px;
    position: fixed;
    display: inline-block;
    transition: bottom 0.2s ease-in-out 0s;
}
.snackbar>p{
    margin: 0px;
    margin-top: 14px;
    margin-left: 24px;
    margin-right: 48px;
    font-size: 11pt;
    color: white;
}


.linear-layout-hor{
    position: absolute;
    display: inline-block;
}
.linear-layout-hor>*{
    position: relative;
    margin-right: 4px;
    height: 100%;
}

.linear-layout-vert{
    position: absolute;
    display: inline-block;
}
.linear-layout-vert>*{
    width:100%;
    margin-bottom: 4px;
    position: relative;
}

/* Expansion panel */
.expansion-panel{
    box-shadow:0px 1px 3px rgb(160, 160, 160);
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    display: inline-block;
    transition: height 0.2s ease-in-out 0s;
}
.expansion-panel>*:not(.expand-button):not(.divider){
    margin-left:24px;
    margin-right: 24px;
    position: relative;
}
.expansion-panel>h5{
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
}
.expansion-panel>p{
    font-size: 10pt;
}

.expand-button{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top:12px;
    z-index: 1;
}

.expand-button:hover{
    background-color: #DDDDDD;
}

.expand-button:active{
    background-color: #CCCCCC;
}

.dialog{
    z-index: 1002;
    position: fixed;
    background-color: #FFFFFF;
    border-radius: 2px;
    padding: 18px;
    margin-top: 24px;
    transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
}
.dialog>.buttons-container{
    bottom: -6px;
    left:0px;
    right: 0px;
    position: absolute;
}

/* Title for dialog */
.title{
    background-color: var(--primary-color);
    height: 60px;
    width: calc(100% + 36px);
    position: relative;
    left:-18px;
    top:-26px;
    display: inline-block;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.title>h2{
    margin: 0px;
    margin-left: 18px;
    margin-top:16px;
    color:white;
}
.title>h3{
    margin: 0px;
    margin-left: 18px;
    margin-top:18px;
    color:white;
}

.button > p{
    color: white;
}
i{
    color: white;
    cursor: default;
    position: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


p,label, a{
    cursor: default;
    font-family: Roboto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1,h2,h3,h4,h5,h6{
    cursor: default;
    z-index: 1;
    font-family: RobotoLight;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

br, img{
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@font-face{
    font-family: RobotoLight;
    src: url(Roboto-Light.ttf);
}

@font-face{
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
@font-face{
    font-family: RobotoMedium;
    src: url(Roboto-Medium.ttf);
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb{
    width: 3px;
    background-color: var(--primary-color);
    border-color: black;
}








